<li>
  <ul>
    <li><%= link_to image_tag(suggestion.food_image.url), suggestion %></li>
    <li><%= suggestion.description %></li>
    <li><%= suggestion.location %></li>
    <li><%= suggestion.user.try(:username) %></li>
    <li><%= suggestion.food_type %></li>
    <li><span class="[success alert secondary] [round radius] label"><%= suggestion.category %></span></li>
  </ul>
</li>