<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @suggestion.food_image.url %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @suggestion.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user.try(:email) %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
><%= link_to 'Destroy', @suggestion, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', suggestions_path %>

<h2>Nearby Suggestions</h2>
  <% @suggestion.nearbys(5).each do |suggestion| %>
    <%= link_to suggestion.location, suggestion %>
  <% end %>
