<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @suggestion.image %>
</p>

<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user %>
</p>

<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Back', suggestions_path %>
