<p id="notice"><%= notice %></p>

  <%= image_tag @suggestion.food_image.url, class: "suggestion-show-image" %>


<p>
  <strong>Description:</strong>
  <%= @suggestion.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @suggestion.location %>
</p>

<p>
  <strong>User:</strong>
  <%= @suggestion.user.try(:email) %>
</p>

<% if current_user == @suggestion.user %>
<%= link_to 'Edit', edit_suggestion_path(@suggestion) %> |
<%= link_to 'Destroy', @suggestion, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<div class="nearby-suggestions">
<h2>Nearby Suggestions</h2>
<ul class="small-block-grid-1 medium-block-grid-3 large-block-grid-3">
  <%= render @suggestion.nearbys(5) %>
</ul>

<!--   <% @suggestion.nearbys(5).each do |suggestion| %>
    <%= link_to suggestion.location, suggestion %>
  <% end %> -->
</div>
