<!DOCTYPE html>
<html lang="en">
<head>
  <%= favicon_link_tag 'favicon(1).ico' %>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title><%= content_for?(:title) ? yield(:title) : "JustHad" %></title>
  <%= stylesheet_link_tag    "application", media: 'all' %>
  <%= javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.min.js"%>
  <%= javascript_include_tag "/path/to/jquery.masonry.min.js"%>
  <%= javascript_include_tag "vendor/modernizr" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<script>

  <div class="wrapper">
    <header>
      <nav class="top-bar row" data-topbar role="navigation">
        <ul class="title-area">
          <li class="name">
            <h1><%= link_to "JustHad", root_path %></h1>
          </li>
          <!-- Remove the class "menu-icon" to get rid of menu icon. Take out "Menu" to just have icon alone -->
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
          <!-- Right Nav Section -->
          <ul class="right">
            <li><%= link_to "Users", users_path %></li>
            <li><%= link_to "Suggestions", suggestions_path %></li>
            <% if current_user %>
            <li><%= link_to "New Suggestion", new_suggestion_path %></li>
            <li></li>
            <li class="has-dropdown">
              <a href="#">Account</a>
              <ul class="dropdown">
                <li><%= link_to "Edit Profile", edit_user_registration_path %></li>
                <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
              </ul>
            </li>
            <% else %>
            <li><%= link_to "Register", new_user_registration_path %></li>
            <li><%= link_to "Login", new_user_session_path %></li>
            <% end %>
          </ul>
      </section>
    </nav>
  </header>

  <% flash.each do |name, message| %>
  <div data-alert class="alert-box secondary row flash-message flash-message-<%= name %>">
    <%= message %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>

  <main class="row">
    <div class="large-12 columns">
      <%= yield %>
    </div>
  </main>
  <div class="push"></div>
</div>
<div class="footer">
  <footer class="footer">
    &copy;2015 Sedky S. Said
  </footer>
</div>

</body>
</html>
